*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



#background_image{
    background-color: white;
}
#background_image img{
    width: 100%;
    height: 100vh; 
}

/* .container {
    background: url("./assets/background.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
} */

.coral-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* z-index: 10; */
}

.coral-container .coral1 {
    position: absolute;
    height: 65%;
    left: 5%;
    bottom: -3%;
}

.coral-container .coral2 {
    position: absolute;
    height: 30%;
    bottom: 0%;
    left: 75%;
}

.seaweed-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* z-index: 14; */
}

.seaweed-container .seaweed1 {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.seaweed-container .seaweed2 {
    position: absolute;
    bottom: -2%;
    left: -3%;

}

.seaweed-container .seaweed3 {
    position: absolute;
    bottom: 0%;
    left: 87%;

}

.seaweed-container .seaweed4 {
    position: absolute;
    bottom: -2%;
    left: 6%;

}


.bubble-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* z-index: 15; */
}

.bubble-container img {
    position: absolute;
    top: 140%;
    transform: translateX(-50%);
}
/*
.bubble1 {
    left: 16%;
    -moz-animation: bubbleAnim 9s linear infinite 2s;
}

.bubble2 {
    left: 48%;
    -moz-animation: bubbleAnim 9s linear infinite 8s;
}

.bubble3 {
    left: 80%;
    -moz-animation: bubbleAnim 9s linear infinite 5s;
}

@-moz-keyframes bubbleAnim {
    0% {
        top: 140%;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 5%;
        opacity: 0;
    }
}

.fish-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* z-index: 13; */
}

.fish-container img {
    height: 100px;
    position: absolute;
}

.fish1 {
    height: 150px !important;
    left: -30%;
    bottom: -5%;
    -moz-animation: fishAnimation1 20s linear infinite;
}

.fish2 {
    height: 100px !important;
    right: -30%;
    bottom: -5%;
    -moz-animation: fishAnimation2 17s linear infinite;
}

.fish3 {
    height: 150px !important;
    left: 15%;
    bottom: 40%;
    -moz-animation: fishAnimation3 50s linear infinite;
}

.fish4 {
    height: 70px !important;
    left: -10%;
    bottom: -10%;
    -moz-animation: fishAnimation4 15s linear infinite;
}

.fish5 {
    height: 80px !important;
    left: -30%;
    bottom: -5%;
    -moz-animation: fishAnimation5 20s linear infinite;
}

.fish6 {
    height: 150px !important;
    right: -40%;
    top: 110%;
    -moz-animation: fishAnimation6 50s linear infinite;
}

.fish7 {
    width: 500px;
    height: 20% !important;
    left: 500px;
    top: 1500px;
    -moz-animation: fishAnimation7 20s linear infinite 0s normal;
    /* -moz-animation-play-state: running;    *//*
}

.fish8 {
    height: 250px !important;
    left: -30%;
    bottom: -10%;
    transform: rotateX(49deg) rotateY(185deg) rotateZ(64deg);
    -moz-animation: fishAnimation8 20s linear infinite;
}

@-moz-keyframes fishAnimation1 {
    0% {
        left: -20%;
        top: 10%;
    }

    50% {
        left: 40%;
        top: 30%;
    }

    100% {
        left: 150%;
        top: -15%;
    }
}

@-moz-keyframes fishAnimation2 {
    0% {
        right: -20%;
        top: 10%;
    }

    50% {
        right: 40%;
        top: 30%;
    }

    100% {
        right: 150%;
        top: 105%;
    }
}

@-moz-keyframes fishAnimation3 {
    0% {
        bottom: 40%;
    }

    50% {
        bottom: 55%;

    }
}

@-moz-keyframes fishAnimation4 {
    0% {
        left: -10%;
        bottom: 10%;
    }

    30% {
        left: 30%;
        bottom: 25%;

    }

    60% {
        left: 50%;
        bottom: 15%;

    }

    100% {
        left: 70%;
        bottom: -10%;
    }
}

@-moz-keyframes fishAnimation5 {

    0% {
        left: -10%;
        top: 20%;
    }

    50% {
        left: 40%;
        top: 50%;

    }

    100% {
        left: 120%;
        top: 75%;
    }
}

@-moz-keyframes fishAnimation6 {
    0% {
        right: -40%;
        top: 110%;
    }

    100% {
        right: 40%;
        top: -30%;
    }
}

@-moz-keyframes fishAnimation7 {
    0% {
        left: -10%;
        top: 40px;
    }

    10% {
        left: 20%;
        top: 29px;
    }

    20% {
        left: 40%;
        top: 56px;
    }

    30% {
        left: 60%;
        top: 30px;
    }

    40% {
        left: 80%;
        top: 40px;
    }

    50% {
        left: 110%;
        top: 36px;
    }

    60% {
        left: 80%;
        top: 40px;
    }

    70% {
        left: 60%;
        top: 30px;
    }

    80% {
        left: 40%;
        top: 56px;
    }

    90% {
        left: 20%;
        top: 29px;
    }

    99% {
        top: 34px;
        transform: rotateY(180deg)
    }

    100% {
        top: 40px;
        left: -10%;
    }
}

@-moz-keyframes fishAnimation8 {
    0% {
        left: -100%;
        bottom: -10%;
    }

    30% {
        bottom: 30%;
    }

    50% {
        bottom: 5%;
    }

    100% {
        left: 200%;
        bottom: 15%;
    }
} */

.bubble1 {
    left: 16%;
    -webkit-animation: bubbleAnim 9s linear infinite 2s;
}

.bubble2 {
    left: 48%;
    -webkit-animation: bubbleAnim 9s linear infinite 8s;
}

.bubble3 {
    left: 80%;
    -webkit-animation: bubbleAnim 9s linear infinite 5s;
}

@-webkit-keyframes bubbleAnim {
    0% {
        top: 140%;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: 5%;
        opacity: 0;
    }
}

.fish-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    /* z-index: 13; */
}

.fish-container img {
    height: 100px;
    position: absolute;
}

.fish1 {
    height: 120px !important;
    left: -20%;
    top: 1%;
    -webkit-animation: fishAnimation1 30s linear infinite;
}

.fish2 {
    height: 120px !important;
    right: -20%;
    bottom: 1%;
    -webkit-animation: fishAnimation2 17s linear infinite;
}

.fish3 {
    height: 150px !important;
    left: 15%;
    bottom: 40%;
    -webkit-animation: fishAnimation3 50s linear infinite;
}

.fish4 {
    height: 70px !important;
    left: -10%;
    bottom: 50%;
    -webkit-animation: fishAnimation4 25s linear infinite;
}

.fish5 {
    height: 80px !important;
    right: -20%;
    bottom: 10%;
    -webkit-animation: fishAnimation5 20s linear infinite;
}

.fish6 {
    height: 150px !important;
    right: -40%;
    top: 110%;
    -webkit-animation: fishAnimation6 50s linear infinite;
}

.fish7 {
    width: 500px;
    height: 20% !important;
    left: 500px;
    top: 1500px;
    -webkit-animation: fishAnimation7 20s linear infinite 0s normal;
    /* -webkit-animation-play-state: running;    */
}

.fish8 {
    height: 250px !important;
    left: -30%;
    bottom: -10%;
    transform: rotateX(49deg) rotateY(185deg) rotateZ(64deg);
    -webkit-animation: fishAnimation8 17s linear infinite;
}

@-webkit-keyframes fishAnimation1 {
    0% {
        left: -15%;
        top: 10%;
    }
    20%{
        left: 50%;
        top: 20%;
    }
    30%{
        left: 80%;
    }
    40%{
        left: 100%;
        top: 40%;
    }
    50%{
        left: 120%;
        top: 70%;
    }
    60%{
        left: 70%;
        top: 60%;
    }
    85%{
        left: 50%;
    }
    90%{
        left: 20%;
        top: 30%;
    }
    95%{
        left: -7%;
        top: 10%;
        transform: rotateY(180deg)
    }
    100% {
        left: -15%;
        top: 40%;
    }
}

@-webkit-keyframes fishAnimation2 {
    0% {
        right: -20%;
        top: 10%;
    }
    20%{
        right: 30%;
    }
    30%{
        right: 60%;
        top: 30%;
    }
    39%{
        right: 107%;
    }

    59% {
        right: 105%;
        top: 30%;
    }
    70%{
        right: 80%;
    }
    80%{
        right: 40%;
    }
    99%{
        right: -10%;
        top: 55%;
        transform: scaleX(-1);
    }

    100% {
        right:-10%;
        top: 63%;
    }
}

@-webkit-keyframes fishAnimation3 {
    0% {
        bottom: 40%;
    }

    50% {
        bottom: 55%;

    }
}

@-webkit-keyframes fishAnimation4 {
    0% {
        left: -15%;
        top: 80%;
    }
    20%{
        left: 20%;
        top: 75%;
    }
    30%{
        left: 50%;
        top: 70%;
    }
    35%{
        left: 60%;
        top: 70%;
    }
    40%{
        left: 80%;
        top: 65%;
    }
    45%{
        left: 100%;
        top: 40%;
    }
    50%{
        left: 120%;
        top: 35%;
    }
    55%{
        left: 90%;
    }
    60%{
        left: 70%;
        top: 32%;
    }
    70%{
        left:45%;
        top: 30%;
    }
    80%{
        left: 30%;
    }
    90%{
        left: 20%;
        top: 26%;
    }
    95%{
        left: -7%;
        top: 24%;
        transform: rotateY(180deg);
    }
    100% {
        left: -15%;
        top: 25%;
    }
}
@-webkit-keyframes fishAnimation5 {
    0% {
        right: -20%;
        top: 10%;
    }
    2%{
        right: -15%;
        transform: scaleX(-1);
    }
    10%{
        right: 10%;
        top: 13%;
    }
    20%{
        right: 30%;
    }
    30%{
        right: 60%;
        top: 12%;
    }
    39%{
        right: 107%;
    }

    59% {
        right: 105%;
        top: 30%;
    }
    70%{
        right: 80%;
    }
    80%{
        right: 40%;
    }
    100% {
        right:-10%;
        top: 83%;
    }
    
}    
@-webkit-keyframes fishAnimation6 {
    0% {
        right: -40%;
        top: 110%;
    }

    100% {
        right: 40%;
        top: -30%;
    }
}

@-webkit-keyframes fishAnimation7 {
    0% {
        left: -10%;
        top: 40px;
    }

    10% {
        left: 20%;
        top: 29px;
    }

    20% {
        left: 40%;
        top: 56px;
    }

    30% {
        left: 60%;
        top: 30px;
    }

    40% {
        left: 80%;
        top: 40px;
    }

    50% {
        left: 110%;
        top: 36px;
    }

    60% {
        left: 80%;
        top: 40px;
    }

    70% {
        left: 60%;
        top: 30px;
    }

    80% {
        left: 40%;
        top: 56px;
    }

    90% {
        left: 20%;
        top: 29px;
    }

    99% {
        top: 34px;
        transform: rotateY(180deg)
    }

    100% {
        top: 40px;
        left: -10%;
    }
}

@-webkit-keyframes fishAnimation8 {
    0% {
        left: -100%;
        bottom: -10%;
    }

    30% {
        bottom: 30%;
    }

    50% {
        bottom: 5%;
    }

    100% {
        left: 200%;
        bottom: 15%;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 1;
  }
  li{
    float: left;
  }
  li button, .dropbtn{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    background-color: lightblue;
  }
  .btn_change_bg{
    display:block;
    outline: none;
    border: none;
    background-color: aqua;
    cursor: pointer;
    padding: 15px;
  }
  li a:hover, .dropbtn:hover .dropbtn{
    background-color: yellow;
  }
  li button:hover{
    background-color: blue;
  }
  li .dropdown{
    display: inline-block;
  }
  .dropdown_content{
    display: none;
    position:fixed;
    /* min-width: 160px; */
    max-width: 160px;
    z-index: 10;
  }
  .dropdown_content a{
    color : black;
    background-color: white;
    /* padding: 12px 16px; */
    display: block;
    text-align: left;
  }
  .dropdown_content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown_content{
    display: block;
  }